

@media (min-width: 500px){
       #section1 {padding-top:25px;color: #fff; background-color: black; font-family: monospace; text-align: center; word-wrap: break-word;}
  
  #section2 {padding-top:25px;color: purple;text-align: center;word-wrap: break-word;}
  #section3 {padding-top:25px;color: #fff; background-color: grey; font-family: monospace;text-align: center;word-wrap: break-word;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4; font-family: monospace;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688; font-family: monospace;}
  



   h1{

 animation-name: colorchange;
  animation-duration: 5s;
   animation-iteration-count: infinite;
}

 
@keyframes colorchange{0%{color: lavender; } 25%{color:green;} 50%{color: brown;}100%{color:salmon;}}

    }

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: white;
  border: 0;
  color: black;
  padding: 12px 48px;
  font-size: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#cog{ 
    color:white;
    font-size:25px;
}



  body {
    position: relative;  
    
    
    
  }
   #section1 {padding-top:25px;color: #fff; background-color: black; font-family: monospace;  }
  
  #section2 {padding-top:25px;color: purple;background-color:lavender;monospace;  }
  #section3 {padding-top:25px;color: #fff; background-color: grey; font-family: monospace;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4; font-family: monospace;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688; font-family: monospace;}
 
 

  .fb{
    margin-top:50px;
    position:relative;
}
  .link{
      text-decoration:underline ;
      color:white ; 
      font-weight:bold;
      font-size:22px;
  }
.G{
    font-size:30px;
    color:white; 
}
#g{
    color:white;
font-weight:white;
}



.social a{
    float:right ;
    color:black;
    font-size:20px;
    width:25%;
    padding-bottom:20px;
    padding-left:5px;
    padding-top:15px;
}  
center { 
    color:black;
    font-size:20px;
    padding-bottom:20px;
    
    
    }

.grdt{
    font-size:13px;
}


  .og{
      text-decoration:underline ;
      color:deepskyblue; 
      font-weight:bold ;
      font-size:22px;
  }

img{
    border:3px solid white;
    border-radius:10px;
}
