/*index*/
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}





  body {
    position: relative; 
    
  }
  #section1 {padding-top:25px;color: #fff; background-color: black;}
  #section2 {padding-top:25px;color: purple;}
  #section3 {padding-top:25px;color: #fff; background-color: grey;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
 

  .fb{
    margin-top:50px;
    position:relative;
}
  .link{
      text-decoration:underline ;
      color:white;
      font-weight:bold;
      font-size:22px;
  }
.G{
    font-size:30px;
    color:gold;
}
#g{
    color:white;
.social a{
    float:right ;
    color:black;
    font-size:20px;
    width:20%;
    padding-bottom:20px;
    padding-left:5px;
    padding-top:15px;
}  
center { 
    color:black;
    font-size:20px;
    padding-bottom:20px;
    background-color:lavender;
    
    }

.grdt{
    font-size:13px;
}


  .og{
      text-decoration:underline ;
      color:deepskyblue; 
      font-weight:bold ;
      font-size:22px;
  }

img{
    border:3px solid white;
    border-radius:10px;
}



/* get started*/


/*goto*/


/*Top proj*/
