  @media(min-width: 500px){
    p{
    text-align: center;
    margin-top: px;
    border: 1px solid blue;
    box-shadow: -10px 10px grey;
    padding: 7px;
    background-color:black;
    color: wheat;
    border-radius: 15px;
  }
        }
   
 
.Nft{
    font-size:30px;
    color:black;
}
.Airdrops{
    font-size:30px;
    color:black;
}
    
a:hover{
  color: gold;
}
marquee i{

 animation-name: colorchange;
  animation-duration: 5s;
   animation-iteration-count: infinite;
}
h4{
    margin-left:14px;
}
 
@keyframes colorchange{0%{color: black; } 25%{color:darkred;} 50%{color: red;}100%{color:salmon;}}
.image{
  float: right;
}

.fb{
    margin-top:50px;
    position:relative;
}
  image{
      margin:14px;
  }
     
     .social a{
    float:right ;
    color:black;
    font-size:20px;
    width:25%;
    padding-bottom:20px;
    padding-left:5px;
    padding-top:15px;
}  
center { 
    color:black;
    font-size:20px;
    padding-bottom:20px;
    background-color:lavender;
    
    }

.grdt{
    font-size:13px;
}


  .og{
      text-decoration:underline ;
      color:deepskyblue; 
      font-weight:bold ;
      font-size:22px;
  }
  p{
    width: auto;
    margin-top: px;
    border: 1px solid blue;
    box-shadow: 8px -10px silver;
    padding: 7px;
    background-color:black;
    color: wheat;
    border-radius: 15px;
  }

  p a{
    color: skyblue;
  }
 ol{
    padding: 10px;
 }
 label{
    color: white;
    font-weight: bold;
 }
