    #info{ 
padding-top:25px;color: purple;
    }
 #info li{
    word-wrap:break;
    clear:both;
    padding-top:14px;
    margin-right: 3%;
} 
 
.Nft{
    font-size:30px;
    color:black;
}
.Airdrops{
    font-size:30px;
    color:black;
}
    
p{
    font-family:courier;
    font-weight:bold ;
}


#info{
   margin-top:9px;
   padding:8px;
   word-spacing:5px;
}
b{
  margin-top: 12px;
  
}
hr{
  color: ;
}
 
a{
  color: blue;
}
a:hover{
  color: blue;
}
marquee i{

 animation-name: colorchange;
  animation-duration: 5s;
   animation-iteration-count: infinite;
}
h4{
    margin-left:14px;
}
 
@keyframes colorchange{0%{color: black; } 25%{color:darkred;} 50%{color: red;}100%{color:salmon;}}
.image{
  float: right;
}

.fb{
    margin-top:50px;
    position:relative;
}
  image{
      margin:14px;}

.social a{
    float:right ;
    color:black;
    font-size:20px;
    width:25%;
    padding-bottom:20px;
    padding-left:5px;
    padding-top:15px;
}  
center { 
    color:black;
    font-size:20px;
    padding-bottom:20px;
    background-color:lavender;
    
    }

.grdt{
    font-size:13px;
}


  .og{
      text-decoration:underline ;
      color:deepskyblue; 
      font-weight:bold ;
      font-size:22px;
  }

img{
    border:3px solid white;
    border-radius:10px;
}
  sub{
    font-size:12px;
    border: 1px solid white;
    border-radius: 50% 50%;
    color: white;
    background-color: blue;
}
